.product {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 1.5em;
	box-shadow: 0px 1px 2px 0px rgba(134, 134, 134, 0.5);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(134, 134, 134, 0.5);
	-moz-box-shadow: 0px 1px 2px 0px rgba(134, 134, 134, 0.5);
}

.product__left {
	display: grid;
	grid-template-columns: 1/2fr 3fr;
	grid-template-rows: 1fr;
}

.product__image {
	grid-area: 1 / 1 / 2 / 2;
	width: 80px;
	height: 120px;
}

.product__deatils {
	grid-area: 1 / 2 / 2 / 3;
	padding: 0 1em;
}
.product__heading {
	padding-bottom: 0.8em;
}

.product__paragraph {
	color: lightslategrey;
	font-style: italic;
	font-family: serif;
	text-align: justify;
}

.product__right {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
}

.product__input {
	padding: 0.6em 1em;
	width: 5em;
	text-align: center;
	background-color: rgba(255, 236, 173, 0.192);
	border-radius: 2px;
	outline: none;
	border: 1.5px solid gray;
	font-weight: bold;
}

.product__button {
	background-color: #ba554d;
	color: white;
}

@media (max-width: 800px) {
	.product {
		grid-template-columns: 1fr;
	}
	.product__right {
		padding: 1.5em 0;
	}
	.product__deatils {
		padding: 0 0 0 1em;
	}
}
